<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ingrese los datos del cliente</h1>
<label>factura</label>
<textArea></textArea>
<label>motivo</label>
<textArea></textArea>
<label>ingrese el nombre del cliente</label>
<textArea></textArea>
<button></button>
<label>direccion</label>
<textarea></textarea>
<label>ingrese el empleado que reciba</label>
<textarea></textarea>
<button></button>
<label>ingrese el almacen de donde sale</label>
<textarea></textarea>
<button></button>
<label>seleccione el tipo de compra</label>
<select>

</select>
<label>seleccione el estado de compra</label>
<select>

</select>
<button type="submit"></button>
</body>
</html>