<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ingrese los datos del empleado</h1>
<label>RFC</label>
<textArea></textArea>
<label>RFC del empleador</label>
<textArea></textArea>
<label>nombre</label>
<textArea></textArea>
<label>direccion</label>
<textArea></textArea>
<label>territorio, alcaldia o distrito</label>
<textarea></textarea>
<label>estado</label>
<select></select>
<label>telefono</label>
<textarea></textarea>
<label>correo</label>
<textarea></textarea>
<button type="submit"></button>
</body>
</html>