<!DOCTYPE html>
<html lang="en" xmlns:th="htpp://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>listado de clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">app de inventario</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true" href="/">inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <h1>lista de clientes</h1>
        </div>
    </div>
    <div class="col-12 text-end">
        <a class="btn btn-success" th:href="@{/listaClientes/añadirCliente}">Agregar cliente</a>
    </div>
    <br>
    <table class="table table-striped table-border">
        <thead class="table-dark">
        <tr>
            <th scope="col">RFC</th>
            <th scope="col">nombre o razon social</th>
            <th scope="col">direccion</th>
            <th scope="col">territorio</th>
            <th scope="col">estado</th>
            <th scope="col">codigo postal</th>
            <th scope="col">telefono</th>
            <th scope="col">correo</th>
            <th scope="col">fechaAlta</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="clientes:${clientes}">
            <td th:text="${clientes.RFC}">factura</td>
            <td th:text="${clientes.nombre}">nombre</td>
            <td th:text="${clientes.direccion}">direccion</td>
            <td th:text="${clientes.territorio}">territorio</td>
            <td th:text="${clientes.estado}">estado</td>
            <td th:text="${clientes.codPostal}">codigo postal</td>
            <td th:text="${clientes.telefono}">telefono</td>
            <td th:text="${clientes.correo}">correo</td>
            <td th:text="${clientes.fechadeAlta}">fecha de alta</td>
            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm" th:href="@{/listaClientes/ventas/{RFC}(RFC=${clientes.RFC})}">ver ventas</a>
                <a class="btn btn-primary btn-sm" th:href="@{/listaClientes/empleados/{RFC}(RFC=${clientes.RFC})}">ver empleados</a>
                <a class="btn btn-primary btn-sm" th:href="@{/listaClientes/editar/{RFC}(RFC=${clientes.RFC})}">modificar</a>
                <a class="btn btn-primary btn-sm" th:href="@{/listaClientes/eliminar/{RFC}(RFC=${clientes.RFC})}" onclick="return confirm('estas seguro')">eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary btn-sm" th:href="@{/añadirCliente}">agregar</a>
</div>
</body>
</html>